* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: url(images/wallpaperflare.com_wallpaper.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ecf2f5;
}

.form {
    width: 290px;
    height: 280px;
    border-radius: 20px;
    background: #d7aeae;
    border: 3px solid blue;
    box-shadow: 0px 5px 10px rgba(7, 220, 220);

}

.form:hover {
    border: 3px solid blue;
    transition: 0.5s ease-in-out;
}

.box {
    margin-top: 20px;
    text-align: center;
    color: white;
}

input {
    margin: 16px auto;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    border-bottom: 2px solid green;
    text-align: center;
    color: white;
    background: none;
}

input:hover {

    border: 2 px solid rgb(53, 53, 163);
    width: 230px;
    transition: 0.5s ease-in-out;
}

.btn {
    width: 120px;
    height: 40px;
    border: 2px solid blue;
    background: none;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.btn:hover {
    border: 2 px solid rgb(red, green, blue);
    transition: 0.5s ease;
}